@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
    --card-background: #f3f2f2;
    --gray: #A1A1A1;
    --gray-dark: #686868;
    --white: #ffffff;
    --red-light: #DE7055;
    --black: #3a3a3a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::placeholder {
    color: var(--gray);
}

/*scroll bar*/
::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--gray);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--gray-dark);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark);
}

